{% extends 'base.html.twig' %}

{% block title %}{{ info.contact.prenom }} {{ info.contact.nom }}{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		$(function(){
			$("section").css("min-height", $(window).height() );
			console.log($(window).height());
			var ctx = $('#myChart');
			/*var options = { responsive: true };
			console.log($('#myChart').parent().html());
			var obj = {{ info.competences1 |json_encode|raw}};
			var competences1 = new Chart(ctx, {
				type: 'bar',
				data : obj,
				options:options
			});*/
			Chart.defaults.global.animation.duration = 2000;
			Chart.defaults.global.animation.easing = 'easeInOutCubic';
			Chart.defaults.global.tooltips.enabled = false;
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ["Java", "PHP", "Spring", "Javascript", "HTML/CSS"],
					datasets: [{
						label: '# of Votes',
						data: [12, 19, 3, 5, 2, 3],
						backgroundColor: [
							'rgba(255, 99, 132, 0.5)',
							'rgba(54, 162, 235, 0.5)',
							'rgba(255, 206, 86, 0.5)',
							'rgba(75, 192, 192, 0.5)',
							'rgba(153, 102, 255, 0.5)'
						],
						borderColor: [
							'rgba(255,99,132,1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)'
						],
						borderWidth: 1
					}]
				},
				options: {
					legend: { display: false },
					responsive:false,
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							},display : false
						}],
						xAxes: [{
							gridLines : {
								display : false
							}
						}]
					}
				}
			});
		});		
	</script>	
{% endblock %}
{% block body %}
        <nav>
			<ul>
				<li><a href="#quiSuisJe">Qui suis-je</a></li>
				<li><a href="#experiences">Mes exp&eacute;riences</a></li>
				<li><a href="#competences">Mes comp&eacute;tences</a></li>
				<li><a href="#interets">Mes points d'int&eacute;r&ecirc;ts</a></li>
				<li><a href="#contact">Me contacter</a></li>
			</ul>
		</nav>
		<section id="quiSuisJe">
			<article id="aPropos">
				<h1>{{ info.titre }}</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
				sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</article>
			<img id="portrait" src="./img/marion.png" alt="portrait Marion">
			<article id="detail">
				<h1>D&eacute;tails</h1>
				<h2>{{ info.contact.prenom }} {{ info.contact.nom }}</h2>
				<label>Age</label><br>
				<span>{{ info.contact.age }}</span><br>
				<label>Mail</label><br>
				<span>{{ info.contact.mail }}</span><br>
				<label>Lieu de résidence</label><br>
				<span>{{ info.contact.ville }}</span>
			</article>
		</section>
		<section id="experiences">
			<img id="fleche" src="./img/fleche" alt="fl&egrave;che sens chronologique">
			<div class="container-experiences">
				<h1>Exp&eacute;riences</h1>
				{% for experience in info.experiences %}    
					<div class="entite">
						<h2>{{ experience.entite }}</h2>
						<span class="periode">{{ experience.periode }}<span>
					</div>
					<article class="description">
						<h2>{{ experience.poste }}</h2>
						<p>{{ experience.description }}</p>
						<span class="voirDetail">
							Voir mes missions 
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
						</span>
						<ul>
							{% for mission in experience.missions %}
								<li>{{ mission | raw }}</li>
							{% endfor %}
						</ul>
					</article>
				{% endfor %}
			</div>
			<div class="container-formations">
				<h1>Formations</h1>
				{% for formation in info.formations %}    
					<div class="diplome">
						<h2>{{ formation.diplome }}</h2>
						<span class="periode">{{ formation.periode }}<span>
					</div>
					<article class="description">
						<h2>{{ formation.lieu }}</h2>
						<p>{{ formation.description }}</p>
					</article>
				{% endfor %}
			</div>
		</section>
		<section id="competences">
			<canvas id="myChart" width="400" height="400"></canvas>
		</section>
		<section id="interets">
		</section>
		<section id="contact">
		</section>
        <footer>
        </footer>
{% endblock %}
