{% extends 'base.html.twig' %}

{% block title %}{{ info.contact.prenom }} {{ info.contact.nom }}{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	var competences1 = {{ competences1 | raw}};
	var competences2 = {{ competences2 | raw}};
</script>
<script type="text/javascript" src="{{ asset('js/cv.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/carte_niko.js') }}"></script>
{% endblock %}
{% block body %}
        <nav>
			<ul>
				<li data-ordre="1"><a href="#quiSuisJe">Qui suis-je</a></li>
				<li data-ordre="2"><a href="#experiences">Mes exp&eacute;riences</a></li>
				<li data-ordre="3"><a href="#competences">Mes comp&eacute;tences</a></li>
				<li data-ordre="4"><a href="#interets">Mes points d'int&eacute;r&ecirc;ts</a></li>
			</ul>
		</nav>
		<section id="quiSuisJe" data-ordre="1">
			<article id="aPropos" class="col-md-offset-1 col-md-3 col-xs-12">
				<h1>{{ info.titre }}</h1>
				<h2>{{ info.sousTitre }}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
				sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</article>
			<!--<img id="portrait" src="./img/marion.png" alt="portrait Marion">-->
			<article id="detail" class="col-md-offset-4 col-md-3 col-xs-12">
				<h1>{{ info.contact.prenom }} {{ info.contact.nom }}</h1>
				<label>Age</label><br>
				<span>{{ info.contact.age }}</span><br>
				<label>Mail</label><br>
				<span>{{ info.contact.mail }}</span><br>
				<label>Lieu de résidence</label><br>
				<span>{{ info.contact.ville }}</span>
			</article>
		</section>
		<section id="experiences" data-ordre="2">
			<!--<img id="fleche" src="./img/fleche" alt="fl&egrave;che sens chronologique">-->
			<div id="containerBarreChrono" class="col-md-1 col-xs-1">
				<span id="chevronBarreChrono" class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
				<div id="barreChrono"></div>
			</div>
			<div class="container-experiences">
				<div class="container-pro col-md-11 col-xs-11">
				<h1>Exp&eacute;riences</h1>
				{% for experience in info.experiences %}    
					<div class="entite col-md-3 col-xs-12">
						<h2>{{ experience.entite }}</h2>
						<span class="periode">{{ experience.periode }}<span>
					</div>
					<article class="description col-md-9 col-xs-12">
						<h2>{{ experience.poste }}</h2>
						<p>{{ experience.description }}</p>
						<span class="voirDetail">
							<span class="libelleDetail">Voir mes missions</span> 
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
						</span>
						<ul class="missions" style="display:none;">
							{% for mission in experience.missions %}
								<li>{{ mission | raw }}</li>
							{% endfor %}
						</ul>
					</article>
				{% endfor %}
			</div>
			<div class="container-edu col-md-11 col-xs-11" >
				<h1>Formations</h1>
				{% for formation in info.formations %}    
					<div class="diplome col-md-3 col-xs-12">
						<h2>{{ formation.diplome }}</h2>
						<span class="periode">{{ formation.periode }}<span>
					</div>
					<article class="description col-md-9 col-xs-12">
						<h2>{{ formation.lieu }}</h2>
						<p>{{ formation.description }}</p>
					</article>
				{% endfor %}
			</div>
			</div>
			
		</section>
		<section id="competences" data-ordre="3">
			<h1>Comp&eacute;tences</h1>
			
			<div class="container-chart col-md-6 col-xs-12">
				<h2>Titre compétences 1</h2>
				<canvas id="myChart1" width="400" height="400"></canvas>
			</div>
			<div class="container-chart col-md-6 col-xs-12">
				<h2>Titre compétences 2</h2>
				<canvas id="myChart2" width="400" height="400"></canvas>
			</div>
			<div class="container-langues col-md-4 col-xs-12">
				<h2>Langues</h2>
				{% for langue in info.langues %}    
					<span class="libelle col-md-4 col-xs-5">
						{{ langue.libelle }}
					</span>
					<!--étoiles pleines-->
					{%if langue.etoiles.pleines > 0 %}
						{% for i in range(1, langue.etoiles.pleines) %}
							<i class="fa fa-star" aria-hidden="true"></i>
						{% endfor %}
					{%endif%}
					<!--étoiles mi-pleines-->
					{%if langue.etoiles.demies > 0 %}
						{% for i in range(1, langue.etoiles.demies) %}
							<i class="fa fa-star-half-o" aria-hidden="true"></i>
						{% endfor %}
					{%endif%}
					<!--étoiles vides-->
					{%if langue.etoiles.vides > 0 %}
						{% for i in range(1, langue.etoiles.vides) %}
							<i class="fa fa-star-o" aria-hidden="true"></i>
						{% endfor %}
					{%endif%}
					<br>
				{% endfor %}
			</div>
		</section>
		<section id="interets" data-ordre="4">
			<h1>Mes points d'int&eacute;r&ecirc;ts</h1>
			<div id="boutons-interets">
				<span class="bouton" data-interet="1">
					<i class="fa fa-plane" aria-hidden="true"></i> Voyage
				</span>
				<span class="bouton" data-interet="2">
					<i class="fa fa-camera-retro" aria-hidden="true"></i> Photographie
				</span>
			</div>
			<div id="container-map" class="interet actif" data-interet="1">
				<div class="map">Alternative content</div>
			</div>
			<div id="container-photo" class="interet" style="display:none" data-interet="2"> 
				<div id="photos" class="owl-carousel owl-theme">
				<div class="item"><img src="{{ asset('img/DSC_0063.png') }}" alt="image"></div>
				<div class="item"><img src="{{ asset('img/DSC_0062.png') }}" alt="image"></div>
				</div>
			</div>
		</section>
{% endblock %}
