{% extends 'base.html.twig' %}

{% block title %}{{ info.contact.prenom }} {{ info.contact.nom }}{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	var obj = {{ competences | raw}};
</script>
<script type="text/javascript" src="{{ asset('js/cv.js') }}"></script>
{% endblock %}
{% block body %}
        <nav>
			<ul>
				<li data-ordre="1"><a href="#quiSuisJe">Qui suis-je</a></li>
				<li data-ordre="2"><a href="#experiences">Mes exp&eacute;riences</a></li>
				<li data-ordre="3"><a href="#competences">Mes comp&eacute;tences</a></li>
				<li data-ordre="4"><a href="#interets">Mes points d'int&eacute;r&ecirc;ts</a></li>
				<li data-ordre="5"><a href="#contact">Me contacter</a></li>
			</ul>
		</nav>
		<section id="quiSuisJe" data-ordre="1">
			<article id="aPropos">
				<h1>{{ info.titre }}</h1>
				<h2>{{ info.sousTitre }}</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
				sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</article>
			<!--<img id="portrait" src="./img/marion.png" alt="portrait Marion">-->
			<article id="detail">
				<h1>D&eacute;tails</h1>
				<h2>{{ info.contact.prenom }} {{ info.contact.nom }}</h2>
				<label>Age</label><br>
				<span>{{ info.contact.age }}</span><br>
				<label>Mail</label><br>
				<span>{{ info.contact.mail }}</span><br>
				<label>Lieu de résidence</label><br>
				<span>{{ info.contact.ville }}</span>
			</article>
		</section>
		<section id="experiences" data-ordre="2">
			<!--<img id="fleche" src="./img/fleche" alt="fl&egrave;che sens chronologique">-->
			<div class="container-experiences">
				<h1>Exp&eacute;riences</h1>
				{% for experience in info.experiences %}    
					<div class="entite">
						<h2>{{ experience.entite }}</h2>
						<span class="periode">{{ experience.periode }}<span>
					</div>
					<article class="description">
						<h2>{{ experience.poste }}</h2>
						<p>{{ experience.description }}</p>
						<span class="voirDetail">
							Voir mes missions 
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
						</span>
						<ul>
							{% for mission in experience.missions %}
								<li>{{ mission | raw }}</li>
							{% endfor %}
						</ul>
					</article>
				{% endfor %}
			</div>
			<div class="container-formations">
				<h1>Formations</h1>
				{% for formation in info.formations %}    
					<div class="diplome">
						<h2>{{ formation.diplome }}</h2>
						<span class="periode">{{ formation.periode }}<span>
					</div>
					<article class="description">
						<h2>{{ formation.lieu }}</h2>
						<p>{{ formation.description }}</p>
					</article>
				{% endfor %}
			</div>
		</section>
		<section id="competences" data-ordre="3">
			<h1>Comp&eacute;tences</h1>
			<canvas id="myChart" width="400" height="400"></canvas>
		</section>
		<section id="interets" data-ordre="4">
			<h1>Mes points d'int&eacute;r&ecirc;ts</h1>
			<div class="container">
				<div class="map">Alternative content</div>
			</div>
			
			<div id="memes" class="owl-carousel owl-theme">
			  <div class="item"><img src="{{ asset('img/1.jpg') }}" alt="image"></div>
			  <div class="item"><img src="{{ asset('img/2.jpg') }}" alt="image"></div>
			  <div class="item"><img src="{{ asset('img/3.jpg') }}" alt="image"></div>
			  <div class="item"><img src="{{ asset('img/4.jpg') }}" alt="image"></div>
			</div>
			<div id="photos" class="owl-carousel owl-theme">
			  <div class="item"><img src="{{ asset('img/DSC_0063.png') }}" alt="image"></div>
			  <div class="item"><img src="{{ asset('img/DSC_0062.png') }}" alt="image"></div>
			</div>
		</section>
		<section id="contact" data-ordre="5">
			<h1>Me contacter</h1>
		</section>
        <footer>
        </footer>
{% endblock %}
